$main-color-dark: #8D81AC;
$main-color-light: #FFFFFF;

$font-montseratt: "Montserrat", sans-serif; 
$font-lato: "Lato", sans-serif; 

$landscape-mobile-normal: 320px; 
$landscape-mobile-big: 480px; 
$landscape-tablet: 992px;
$landscape-desktop: 1200px;